@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #acc857;
  --color-secondary: #03373d;
  --color-secondary-content: #606060;
  --color-accent: #caeb66;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f3f4f6;
}

/* color */
.bg-black-13 {
  background-color: #0b0b0b;
}

/* brand component */
.swiper-wrapper {
  transition-timing-function: linear !important;
}

/* review or testimonial swiper */
.mySwiper {
  padding: 40px 0 70px;
}

.mySwiper .swiper-slide {
  opacity: 0.35;
  transition: all 0.4s ease;
}

/* Review Card Animation */
.mySwiper .swiper-slide .review-card {
  transform: translateY(40px) scale(0.85);
  transition: all 0.4s ease;
}

/* Active Card */
.mySwiper .swiper-slide-active {
  opacity: 1;
}

.mySwiper .swiper-slide-active .review-card {
  transform: translateY(0) scale(1);
}

/* Left & Right Card */
.mySwiper .swiper-slide-prev,
.mySwiper .swiper-slide-next {
  opacity: 0.7;
}

.mySwiper .swiper-slide-prev .review-card,
.mySwiper .swiper-slide-next .review-card {
  transform: translateY(50px) scale(1);
}

/* loader style */
.loader {
  --color-1: #acc857;
  --color-2: rgba(255, 255, 255, 0.2);
  --color-3: #03373d;
  --size: 1px;

  width: calc(16 * var(--size));
  height: calc(16 * var(--size));
  border-radius: 50%;
  display: block;
  margin: calc(15 * var(--size)) auto;
  position: relative;
  background: var(--color-1);
  box-sizing: border-box;
  animation: shadowExpandX 2s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow:
      0 0,
      0 0;
    color: var(--color-2);
  }
  100% {
    box-shadow:
      calc(-24 * var(--size)) 0,
      calc(24 * var(--size)) 0;
    color: var(--color-3);
  }
}
/* ____________________________________________________________________ */
