@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #acc857;
  --color-secondary: #03373d;
  --color-secondary-content: #606060;
  --color-accent: #caeb66;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f3f4f6;
}

/* color */
.bg-black-13 {
  background-color: #0b0b0b;
}

/* brand component */
.swiper-wrapper {
  transition-timing-function: linear !important;
}

/* review or testimonial swiper */
.mySwiper {
  padding: 40px 0 70px;
}

.mySwiper .swiper-slide {
  opacity: 0.35;
  transition: all 0.4s ease;
}

/* Review Card Animation */
.mySwiper .swiper-slide .review-card {
  transform: translateY(40px) scale(0.85);
  transition: all 0.4s ease;
}

/* Active Card */
.mySwiper .swiper-slide-active {
  opacity: 1;
}

.mySwiper .swiper-slide-active .review-card {
  transform: translateY(0) scale(1);
}

/* Left & Right Card */
.mySwiper .swiper-slide-prev,
.mySwiper .swiper-slide-next {
  opacity: 0.7;
}

.mySwiper .swiper-slide-prev .review-card,
.mySwiper .swiper-slide-next .review-card {
  transform: translateY(50px) scale(1);
}
